nav {
  background-image: url(https://i.pinimg.com/originals/16/b7/af/16b7afe9f815e640d500e2ee58603223.jpg);
  padding-top: 15px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
  color: gray;
}

.text-light {
  text-align: center;
  color: black;
  font-size: 40px;
}

.nav-item {
  font-size: 25px;
}